@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: #fff;
}

a {
  color: #00d38d;
  text-decoration: none;
}
a:hover {
  color: rgba(0, 211, 141, 0.8);
}
